.alert-item-container {
    background-color: var(--background-color);
    display: flex;
    align-items: center;

    padding: 10px;
    width:  max(700px, 50%);
    height: 90%;
    border-bottom: 1px solid var(--background-color);
    flex-direction: column;
    gap: 10px;
}

.viewer-box{
    display: flex;
    width: 100%;
    /* width: 51%; */
    justify-content: space-between;
}