.users-container{
    display: flex;
    flex-direction: row;
 
    flex-wrap: wrap;
    width: 70%;
    
}
.user-viewer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 30px;
    width: 70%;

}