
  .card {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    border: "1px solid #ddd";
    border-radius: "8px";
    /* padding: "16px"; */
    /* margin-bottom: "12px"; */
    background-color: var(--on-primary-color);
  }

  .delete-button{
    background-color: var(--error-color);
    color: var(--on-primary-color);
  }
  .delete-button:hover{
    background-color: var( --error-color-light);

  }
  .delete-button:active{
    background-color: var(--error-color);

  }

  .button-box{
    display: flex;
    justify-content: space-between;
  }
  .header {
    display: "flex";
    flex-direction: column;
    gap: 10px;
    justify-content: "space-between";
    align-items: "center";
  }
  .message {
    font-weight: "bold";
  }
  .date {
    font-size: "14px";
    color: "gray";
  }
  .arrow-btn {
    background: var(--background-color);
    /* color: var(--background-color); */
    border: none;
    cursor: "pointer";
    width: 40px;
    height: 40px;
    font-size: large;
    font-weight: bolder;
    border-radius: 20px;
    /* align-self: flex-end; */
   
  }

  .broadcast-button{
    background-color: var(--secondary-color);
    color: var(--on-secondary-color);

  }
  .broadcast-button:hover{
    background-color: var(--secondary-color-dark);

  }

  .broadcast-button:active{
    background-color: var(--secondary-color-light);
  }
  .extra-info {
    display: flex;
    flex-direction: column;
     gap: 10px; 
     
    
    font-size: "10px";
  }
