.rescue-task-card{
    display: flex;
   flex-wrap: wrap;
    width: 60%;
    height: 450px;
    flex-direction: row;
    

}

.responders-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    height: 100px;
    gap: 5px;
}
.responder-box{
    display: flex;
    justify-content: space-around;
    border: 1px solid var(--primary-color);
    padding: 5px;
    border-radius: 10px;

}
.button-box{
    width: 100%;
    display: flex;
    justify-content: space-around;
}